@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";

.root {
  margin: 15px auto;
  box-shadow: 5px 5px 10px 1px $color-main;
  padding: 10px;

  .wrapper {
    @include wrapper;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .infoBox {
      margin: auto;

      display: inline-flex;

      img {
        width: 70px;
      }

      h4 {
        padding-left: 5px;
        margin: auto;
      }
    }

    .amountBox {
      margin: auto;

      span {
        font-family: $font-header;
        font-size: 22px;
        margin-left: 20px;
      }
    }

    .editBox {
      padding: 10px;

      .widget {
        padding: 15px;
      }

      .icon {
        font-size: 20px;
        margin: auto 10px;
      }
    }
  }

  .textarea {
    margin-top: 10px;
  }
}

@media(max-width: 352px) {
  .root {
    .wrapper {
      .editBox {
        .icon {
          margin: 10px 10px auto 10px;
        }
      }
    }
  }
}
