@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";

.root {
  margin: 15px auto;
  box-shadow: 5px 5px 10px 1px $color-main;

  .wrapper {
    @include wrapper;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .infoBox {
      margin: auto;
      min-width: 200px;

      img {
        width: 80px;
        margin-top: 20px;
      }

      h4 {
        padding: 5px;
      }
    }

    .priceBox {
      padding: 10px;

      .icon {
        font-size: 20px;
        margin: auto 10px;
      }
    }

    .textarea {
      min-width: 220px;
      margin: auto;
    }
  }
}

@media(max-width: 495px) {
  .root {
    .wrapper {
      .infoBox {
        margin-bottom: 10px;
      }
      .priceBox {
        margin-top: 10px;
      }
    }
  }
}
