@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";

.root {
  .container {
    @include container;

    .card {
      padding: 10px;
      margin: 20px auto;

      .products {
        @include wrapper;
        justify-content: space-around;
        margin-bottom: 15px;
      }
    }
  }
}
