@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";

.root {
  .container {
    @include container;
    padding-top: 10px;

    .products {
      @include wrapper;
      justify-content: space-around;
      margin-bottom: 15px;
    }
  }
}
