@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";

.root {
  .container {
    @include container;
    margin: 10px auto;
    padding: 5px;

    .title {
      margin-top: 20px;
      text-align: center;
    }

    .summary {
      max-width: 560px;
      margin: auto;
    }

    .form {
      width: 50%;
      margin: 0 auto;
      padding: 10px;

      .formItem {
        margin: 10px auto;
      }
    }

    .button {
      display: block;
      margin: 10px auto;
      .icon {
        margin-left: 10px;
      }
    }
  }
}

@media(max-width: 650px) {
  .root {
    .container {
      .form {
        width: 100%;
      }
    }
  }
}
