@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  .container {
    @include container;
    text-align: center;
    position: relative;

    .image {
      width: 85%;
    }

    .text {
      position: absolute;
      left: 15%;
    }

    .button {
      margin-bottom: 15px;

      &:hover {
        color: $color-text-light;
      }
    }
  }
}

@media(max-width: 1000px) {
  .root {
    .container {
      .text {
        left: 10%;
      }
    }
  }
}

@media(max-width: 750px) {
  .root {
    .container {
      .image {
        width: 100%;
      }

      .text {
        position: relative;
        left: 0;
      }
    }
  }
}
